@model Assignment1.Models.Contact;
@{
    ViewData["Title"] = "Delete Contact";
}

<div class="text-center">
    <h1 class="display-4 bg-dark text-white">Contact Manager</h1>
</div>

<p1>Delete Contact</p1>

<a>Do you really want to delete</a>

